:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --logo-color: #000000;
    --accent-second-color: rgba(255, 255, 255, 0.6);
    --primary-bg-color: #2f303a;
    --accent-bg-color: #f5f4fa;
    --border-project-color: #eeeeee;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    display: flex;
}

.flex-box {
    display: flex;


}

/* Шапка */
.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header .logo-style {
    color: var(--logo-color);

}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.navigation .link:hover,
.navigation .link:focus {
    color: var(--accent-color);
}

.navigation .link.current {
    color: var(--accent-color);
}

.site-contact {
    display: flex;
}

.site-contact .link {

    font-size: 14px;
    line-height: 1.14;

    list-style: none;

}

.site-contact .link:not(:last-child) {

    margin-right: 50px;

}

.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);

}

.contact-link {
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    font-weight: 500;

}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color)
}


.border {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;


}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;


}

.navigation {
    display: flex;
    align-items: center;
}

/* Решение */
.decision {
    background-color: var(--primary-bg-color);
    text-align: center;
    padding: 200px 0;
}

.decision-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.decision-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    border: none
}

.decision-button:hover,
.decision-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Секциії */

.section-title {
    color: var(--title-text-color);
    /* font-weight: 700;  браузер по умолчанию*/
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

/* Перваги */
.benefits {
    padding-bottom: 0;
}

.benefits-item {
    width: 270px;

}

.benefits-item:not(:last-child) {
    margin-right: 30px;
}

.benefits-title {
    color: var(--title-text-color);
    /* font-weight: 700; браузер по умолчанию*/
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits-text {
    /* font-weight: 400; браузер по умолчанию*/
    font-size: 14px;
    line-height: 1.71;
}

.flex {
    display: flex;
    padding: 10px 20px;

}

.services-item:not(:last-child) {
    margin-right: 30px;

}

/* Команда */
.team {
    background-color: var(--accent-bg-color);

}

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team-text {
    /* font-weight: 400; браузер по умолчанию*/
    font-size: 16px;
    line-height: 1.19;
}

.team-item:not(:last-child) {
    margin-right: 30px;

}

.team-description {
    background-color: var(--primary-white-color);
    text-align: center;
    padding: 30px 32px;
    border-radius: 0px 0px 4px 4px;
}


/* Футер */
.page-footer {
    background-color: var(--primary-bg-color);
    padding: 60px 0;
}

.page-footer .logo-style {
    color: var(--primary-white-color);
}

.footer-logo {
    margin-bottom: 20px;
    display: inline-block;
}

.footer-list {
    display: inline-block;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-adress .link {
    font-style: normal;
    /* font-weight: 400; браузер по умолчанию*/
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
}

.contact.link {
    color: var(--accent-second-color);
}

.footer-adress .link:hover,
.footer-adress .link:focus {
    color: var(--accent-color);
}

/* Портфолио */

/* Наши работы */
.page-button {
    background-color: var(--accent-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    text-align: center;
    padding: 6px 22px;
    border: none;

}

.project-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.project-button-item:not(:last-child) {
    margin-right: 8px;
}

.page-button:hover,
.page-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.project-list {
    display: flex;
    flex-wrap: wrap;

}

.example-title {
    color: var(--title-text-color);
    /* font-weight: 700; браузер по умолчанию*/
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.example-text {
    color: var(--primary-text-color);
    /* font-weight: 400; браузер по умолчанию*/
    font-size: 16px;
    line-height: 1.88;
}

.project-item {
    margin-right: 30px;
    margin-bottom: 30px;

}

.project-item:nth-child(3n) {
    margin-right: 0px;}

.project-description {
        padding: 20px 24px;
        border-right: 1px solid var(--border-project-color);
        border-bottom: 1px solid var(--border-project-color);
        border-left: 1px solid var(--border-project-color);
    }